<div class="home-page">
  <h3>Welcome</h3>
  <ng-include src="'src/templates/partials/slider.html'"></ng-include>
  <highchart id="chart1" config="chartConfig1"></highchart>
  <highchart id="chart1" config="chartConfig2"></highchart>
  <highchart id="chart1" config="chartConfig3"></highchart>
  <!-- <div class="row">
    <div class="col-md-6">
      <highchart id="chart1" config="chartConfig1"></highchart>
    </div>
    <div class="col-md-6">
      <highchart id="chart1" config="chartConfig3"></highchart>
    </div>
  </div> -->

</div>
