<div class="login-page">
  <div class="login-wrap">
    <div class="login-title">
      <span>Login</span>
    </div>
    <div class="alert alert-success alert-dismissible" ng-if="isSuccess">
      {{messageSuccess}}
    </div>
    <div class="alert alert-danger alert-dismissible" ng-if="isError">
      {{messageError}}
    </div>
    <form name="form" class="form" ng-submit="submitForm()" novalidate>
        <div class="form-group">
            <label for="email" class="control-label">User Name</label>
            <input type="text" name="userName" id="userName" class="form-control" ng-model="user.userName" required="">
            <div ng-show="form.$submitted || form.userName.$touched">
                <div ng-show="form.userName.$error.required" class="text-danger">This field is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required="">
            <div ng-show="form.$submitted || form.password.$touched">
                <div ng-show="form.password.$error.required" class="text-danger">This field is required</div>
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
  </div>
</div>
