.page-content {
  margin-top: 100px;
  .home-page {
    .date {
      margin-top: 20px;
    }
  }
  .range-selector{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    .btn-primary {
      margin-top: 20px;
      min-width: 100px;
    }
    .user-input {
      margin-top: 20px;
    }
  }
  .chart-container {
    margin: 50px 0;
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
  }
}
