.page-content {
  margin-top: 100px;
  .home-page {
    .date {
      margin-top: 17px;
    }
  }
  .chart-container {
    margin: 50px 0;
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
  }
}
