.navbar-brand {
  height: auto; }

.navbar-right li a {
  line-height: 40px; }

.page-content {
  margin-top: 100px; }
  .page-content .home-page .date {
    margin-top: 20px; }
  .page-content .range-selector {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; }
    .page-content .range-selector .btn-primary {
      margin-top: 20px;
      min-width: 100px; }
    .page-content .range-selector .user-input {
      margin-top: 20px; }
  .page-content .chart-container {
    margin: 50px 0;
    padding: 25px 0;
    border-bottom: 1px solid #ccc; }

.page-content .login-page {
  width: 100%;
  border-radius: 10px;
  padding: 15px; }
  .page-content .login-page .login-wrap {
    border-radius: 10px;
    margin: 0 auto;
    padding: 50px 80px;
    width: 560px; }
    .page-content .login-page .login-wrap .login-title {
      font-size: 25px;
      text-transform: uppercase;
      border-bottom: 2px solid #ccc;
      margin-bottom: 45px;
      padding-bottom: 15px;
      text-align: center; }
    .page-content .login-page .login-wrap .form .form-group .control-label {
      font-weight: 500; }
    .page-content .login-page .login-wrap .form .form-group .form-control {
      height: 45px;
      border-radius: 0px; }

.slider .rzslider .rz-bar-wrapper .rz-bar {
  border-radius: 5px;
  height: 15px; }

.slider .rz-pointer {
  border-radius: 5px;
  top: -11px; }
